@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', serif;
  ;
  overflow-x: hidden;
}

/* customizing scrollbar  */

::-webkit-scrollbar {
  width: 0.4rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000000;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ff2828c9;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ff2828;
}

/* utility class */
.btn {
  background-color: #ff2828c9;
  padding: 10px 30px;
  border: none;
  border-radius: 20px;
  color: white;
  font-weight: 300;
  font-size: 1rem;
  cursor: pointer;
}

.btn:hover {
  background-color: #ff0000;
  transition: background-color 300ms ease-in-out;
}

.highlight {
  color: #fd2d2d;
  font-size: 25px;
  text-shadow: 1px 2px 5px #ffffff;
}

.highlight1 {
  color: #882222;
  font-size: 15px;
}

.text-gray {
  color: #ffffff;
  font-weight: 800;
}

.container {
  width: 1024px;
  display: flex;
  align-items: center;
}

.header {
  background: linear-gradient(rgba(0, 0, 0, 0.699), rgba(0, 0, 0, 0.5)), url('assets/bg.jpg') center center;
  background-size: cover;
  min-height: 100vh;
  width: 100%;
  animation: breath 10s linear infinite;
}

@keyframes breath {
  0% {
    background-size: 100% auto;
  }

  50% {
    background-size: 110% auto;
  }

  100% {
    background-size: 100% auto;
  }
}

.navbar input[type="checkbox"],
.navbar .hamburger-lines {
  display: none;
}

.navbar {
  width: 100%;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  height: 5rem;
  align-items: center;
  padding: 0 1rem;
  color: white;
}

.logo {
  cursor: pointer;
  color: red;
  letter-spacing: 5px;
  text-shadow: 2px 1px #ffffff, 2px 1px #ffffff;
}

.menu-items {
  display: flex;
  align-items: center;
}

.menu-items li {
  margin: 0 0.5rem;
  padding: 0 0.5rem;
  border-radius: 20px;
}

.menu-items li:hover {
  transform: scale(1.1);
  background-color: rgb(255, 255, 255);
  transition: all 300ms ease-in-out;
}

.menu-items li a {
  font-size: 1rem;
  font-weight: 500;
  color: white;
}

.menu-items li a:hover {
  color: rgb(255, 0, 0);
  transition: color 300ms ease-in-out;
}


/* home  */
.home-container {
  /* width: 100vw; */
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: start;
}

.home {
  width: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding-top: 10rem;
}

.home h1 {
  font-size: 3rem;
}

.home p {
  text-align: center;
  text-shadow: 3px 2px 20px #000000, 3px 2px 20px #000000;
  padding: 0 5rem;
}

.food-container {
  width: 100%;
  background: #ffdec0;
  display: flex;
  justify-content: center;
}
/* dessert  */
.dessert-container {
  width: 100%;
  background-color: #ffffff;
  background: linear-gradient(rgba(0, 0, 0, 0.425), rgba(0, 0, 0, 0.329)), url('Image/bg.jpg') center center no-repeat;
  /* linear-gradient(rgba(0, 0, 0, 0.699), rgba(0, 0, 0, 0.5)), */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.dessert {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
}

.dessert h1 {
  font-size: 2rem;
  font-weight: 900;
}

.dessert-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  margin-top: 1rem;
  padding: 0 10px;
}

.dessert-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  /* border: 1px solid white; */
  padding: 0.5rem 1rem;
  border-radius: 10px;
  cursor: pointer;
  background-color: #ffffff86;
  box-shadow: 5px 6px 10px rgba(0, 0, 0, 0.637);
  ;
}

.img {
  width: 100px;
  height: 100px;
  transition: all 0.5s ease-in-out;
}

.img:hover {
  transform: scale(1.1);
}

.dessert-item:hover {
  background-color: rgb(255, 255, 255);
  /* font-size: 18px; */
  /* transform: scale(1.1); */
  transition: background-color 0.5s ease-in-out;
}


p {
  font-size: 1.1rem;
}

.btn1 {
  background-color: #ffffff2c;
  padding: 10px 30px;
  border-width: 1.5px;
  border-radius: 20px;
  color: white;
  font-weight: 300;
  font-size: 1rem;
  cursor: pointer;
  border-color: white;
  box-shadow: 0 0px 15px 10px rgba(0, 0, 0, 0.637);
}

.btn1:hover {
  background-color: #ffffff96;
  color: #000000;
}


















/*  */


/* blabla bla */









/* book-table-container  */
.book-table-container {
  width: 100%;
  background: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0.39)), url('Image/menu_bg.jpg') center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.book-table {
  width: 1060px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 0 2rem;
  gap: 1rem;
}


.book-table p {
  text-align: left;
  padding-left: 13px;
}

.book-table h1 {
  font-weight: 400;
}
















